.title {
	font-family: "Lustria",serif;
	font-size: 20px;
	border-top: 1px solid;
	border-bottom: 1px solid;
	width: 40%;
	margin: 10px auto;
	line-height: 32px;
  text-align: center;
  /*background-color: coral;*/
}

html, body {
    width: 100%;
}

.rouletteWholeTable {
	background-color: green;
	color: white;
	border-style: solid;
	border-width: 5px;
	border-color: black;
	margin-bottom: 10px;
}

.rouletteContainer {
	display: flex;
  flex-direction: row;
	flex-wrap: nowrap;
	border-style: solid;
	border-width: 3px;
	border-color: gray;
}

.rouletteVertical {
	width:50px;
	max-width:50px;
	height:150px;
	display: flex;
  flex-direction: column;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: center;
}

.lowerGroupsContainer {
	padding-left: 50px;
	padding-right: 50px;
}

.rouletteVerticalGroup {
	width: 200px;
	max-width: 200px;
	height: 100px;
	display: flex;
  flex-direction: column;
	flex-wrap: nowrap;
	border-style: solid;
	border-width: 1px;
	border-color: gray;
}

.rouletteNumber {
   width:50px;
   max-width:50px;
	 height:50px;
	 max-height: 50px;
   display: inline-block;
	 border-style: solid;
	 border-width: 1px;
}

.rouletteDoubleBox {
   width: 100px;
   max-width: 100px;
	 height: 50px;
	 max-height: 50px;
   display: inline-block;
	 border-style: solid;
	 border-width: 1px;
}

.rouletteQuadBox {
   width: 200px;
   max-width: 200px;
	 height: 50px;
	 max-height: 50px;
   display: inline-block;
	 border-style: solid;
	 border-width: 1px;
}

.rouletteNumberInner {
	padding-top: 15px;
	text-align: center;
}

.rouletteBetInput {
   width:45px;
   max-width:45px;
	 height:45px;
	 max-height: 45px;
   display: inline-block;
	 text-align: center;
}

.rouletteRed {
	background-color: red;
}

.rouletteBlack {
	background-color: black;
}

.rouletteGreen {
	background-color: lime;
}

.firstCollumn {
	width: 200px;
	display: inline-block;
}

.wideInput {
	width: 400px;
	margin: auto 10px;
	display: inline-block;
}

.button {
	width: 100px;
	margin: auto 10px;
	display: inline-block;
}

#offerBetting {
	display: none;
}

#sendBetsButton {
	display: none;
}

#claimBetsButtons {
	display: none;
}

#winsKnown {
	display: none;
}

.help-tip{
/*    position: absolute;
    top: 18px;
    right: 18px;*/
		position: relative;
    text-align: center;
    background-color: #808080;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    font-size: 14px;
    line-height: 26px;
    cursor: default;
		display: inline-block;
}

.help-tip:hover {
	background-color: #000;
}

.help-tip:before {
    content:'?';
    font-weight: bold;
    color:#fff;
}

.help-tip:hover p {
    display:block;
    transform-origin: 100% 0%;

    /*-webkit-animation: fadeIn 1s ease-in-out;
    animation: fadeIn 1s ease-in-out;*/

}

.help-tip p {    /* The tooltip */
    display: none;
		text-align: left;
		background-color: #000;
		padding: 20px;
		width: 300px;
		position: absolute;
		border-radius: 3px;
		box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
		left: 35px;
		color: #FFF;
		top: -8px;
		font-size: 13px;
		line-height: 1.4;
}

.help-tip p:before{ /* The pointer of the tooltip */
		position: absolute;
		content: '';
		width: 0;
		height: 0;
		border: 6px solid transparent;
		border-bottom-color: #000;
		left: -11px;
		top: 0px;
		transform: rotate(-90deg);
}

.help-tip p:after{ /* Prevents the tooltip from being hidden */
    width:100%;
    height:40px;
    content:'';
    position: absolute;
    top:-40px;
    left:0;
}

/* CSS animation */

@-webkit-keyframes fadeIn {
    0% {
        opacity:0;
        transform: scale(0.6);
    }

    100% {
        opacity:100%;
        transform: scale(1);
    }
}

@keyframes fadeIn {
    0% { opacity:0; }
    100% { opacity:100%; }
}
