.title {
	font-family: "Lustria",serif;
	font-size: 20px;
	border-top: 1px solid;
	border-bottom: 1px solid;
	width: 40%;
	margin: 10px auto;
	line-height: 32px;
  text-align: center;
  /*background-color: coral;*/
}

html, body {
    width: 100%;
		margin: 0;
}

.rouletteWholeTable {
	background-color: green;
	color: white;
	border-style: solid;
	border-width: 5px;
	border-color: black;
	margin-bottom: 10px;
}

.rouletteContainer {
	display: flex;
  flex-direction: row;
	flex-wrap: nowrap;
}

.containerBlock {
	margin-left: 20px;
}

.rouletteVertical {
	width:75px;
	max-width:75px;
	height:225px;
	display: flex;
  flex-direction: column;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: center;
}

.lowerGroupsContainer {
	padding-left: 74px;
}

.rouletteVerticalGroup {
	width: 300px;
	max-width: 300px;
	display: flex;
  flex-direction: column;
	flex-wrap: nowrap;
}

.rouletteNumber {
   width:75px;
	 height:75px;
   display: inline-block;
	 border-style: solid;
	 border-width: 1px;
}

.rouletteNumber.bigger {
   width:100%;
   display: inline-block;
	 border: none;
}

.rouletteDoubleBox {
   width: 150px;
   max-width: 150px;
	 height: 75px;
	 max-height: 75px;
   display: flex;
	 justify-content: center;
	 border-style: solid;
	 border-width: 1px;
}

.rouletteQuadBox {
   display: flex;
	 justify-content: center;
	 border-style: solid;
	 border-width: 1px;
}

.rouletteNumberInner {
	padding-top: 3px;
	padding-left: 3px;
}

.rouletteBetInput {
   width:45px;
   max-width:45px;
	 height: 25px;
	 max-height: 25px;
   display: block;
	 margin: 10px auto;
}

.rouletteRed {
	background-color: red;
}

.rouletteBlack {
	background-color: black;
}

.rouletteGreen {
	background-color: lime;
}

.firstCollumn {
	width: 200px;
	display: inline-block;
}

.button {
	width: 100px;
	margin: auto 10px;
	display: inline-block;
	margin: 10px 0px 0px 0px;
}

#listBets {
	margin: 10px 0px 0px 0px;
}

#offerBetting {
	display: none;
	margin: 20px;
}

#sendBetsButton {
	display: none;
}

#claimBetsButtons {
	display: none;
}

#winsKnown {
	display: none;
}

#reloadBettingButton {
	display: none;
}

.helpButtons {
	margin: 15px 0px 20px 0px;
}

#showHelpButton {
	display: none;
}

#statusBlock {
	margin: 5px 0px 20px 0px;
}

.statusLine {
	display: flex;
  flex-direction: row;
	flex-wrap: nowrap;
	margin: 5px 0px 5px 0px;
}

.statusTitle {
	text-align: left;
	font-weight: bold;
	margin: 0px 5px 0px 0px;
}

.helpSection {
	margin: 30px 0px 20px 0px;
}

#howtoTitle {
	text-align: center;
	text-decoration: underline;
}

.howtoSubtitle {
	margin: 20px 0px 20px 20px;
	text-align: left;
	font-weight: bold;
}

.howtoTextLine {
	margin: 10px 50px 10px 10px;
	text-align: justify;
	justify-content: center;
}
